vim/.vim/bundle
zsh/.zsh/dev.env
zsh/.zsh/antigen/
zsh/.zsh/aliases.local
*.swp
.gitmodules
alfred/
Brewfile.lock.json
zsh/.zsh/*.env
nvim/.config/gh/hosts.yml
nvim/.config/gh/state.yml
nvim/.config/coc
nvim/.conf
